.search {
    width: 60%;
}

ul li {
    font-size: 20px;
}

.ul {
    text-decoration: underline;
}

.inputRounded .MuiOutlinedInput-root {
    border-radius: 10px;
}

.projectName {
    margin: 10px;
    padding-bottom: 10px;
    color: rgb(1, 1, 59);
    background-image: linear-gradient(to right, #30b1d9, #7bb844);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

h1 {
    margin: 10px;
    color: rgb(1, 1, 59);
}

h3 {
    padding-bottom: 0.5vh;
    padding-top: 1vh;
}

.unstyled-link {
    color: inherit;
    text-decoration: none;
}

.popup-text {
    font-size: 13px;
}