.sidebar {
    background-color: #f5f5f5;
    padding: 10px;
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
}


.sidebar li {
    margin: 10px 0;
}

.sidebar a {
    color: #000;
    text-decoration: none;
}

.sidebar-icon {
    margin-right: 10px;
    font-size: 1.2rem;
}

.sidebar-text {
    font-size: 2.5vh;
    font-weight: 600;
    margin-left: 3vh;
    margin-bottom: 2vh;
}

.sidenav {
    /* z-index: -1; */
    height: 100%;
    width: 32vh;
    position: fixed;
    top: 1;
    left: 0;
    background-color: #2A3247;
    overflow-x: hidden;
    padding-top: 20px;
    /* border-right: solid #f5f5f5 1px; */
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: whitesmoke;
}

/* .sidenav a:focus {
    color: #EF7E18;
} */

.highlight {
    color: #EF7E18;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.logout {
    position: relative;
    top: 100%;
    transform: translateY(-100%);
    display: flex
}

.menu-button {
    border: solid black 5px;

}