.title {
  background-color: white;
  margin-top: 2%;
  min-height: 43vh;
  display: flex;
  flex-direction: column;
  padding: 2% 4%;
  gap: 1rem;
}

@media (min-width: 768px) {
  .title {
    flex-direction: row;
    height: 43vh;
    padding-bottom: 1%;
  }
}

.orange {
  color: rgb(238, 130, 32);
}

.blue {
  color: rgb(29, 39, 95);
}

.title-child {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-child:first-child {
  padding-left: 0;
  padding-top: 0;
  min-width: 100%;
}

@media (min-width: 768px) {
  .title-child:first-child {
    padding-left: 1cm;
    padding-top: 3%;
    min-width: 63%;
  }
}

#app-name {
  font-size: clamp(2rem, 5vw, 4rem);
  text-align: inherit;
  padding-bottom: 0%;
  margin: 0px;
  line-height: 1.2;
}

#title {
  font-size: clamp(1.25rem, 3vw, 2rem);
  text-align: inherit;
  padding-top: 2%;
  margin-left: 0%;
}

#title-sub {
  font-size: clamp(0.875rem, 2vw, 1rem);
}

#title-sub2 {
  font-size: clamp(0.875rem, 2vw, 1rem);
}

#title-sub3 {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
}


#regards {
  font-size: 0.3cm;
}

.more {
  /* background-color: white; */
  /* padding-top: 0.5cm; */
  border-top: 2px solid whitesmoke;
  height: 47vh;
}

.andmore {
  border-top: 2px solid whitesmoke;
  border-bottom: 2px solid whitesmoke;
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  gap: 2rem;
}

@media (min-width: 768px) {
  .andmore {
    flex-direction: row;
    height: 65vh;
    padding: 0;
    gap: 0;
  }
}

#third-title {
  margin: 0;
  width: 100%;
  text-align: center;
  padding: 1rem;
}

@media (min-width: 768px) {
  #third-title {
    margin: 8vh;
    width: 50%;
    text-align: left;
    padding: 0;
  }
}

.pic-div {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 0;
  margin-right: 0;
  width: 100%;
  max-width: 600px;
  height: 40vh;
  border-radius: 8px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .pic-div {
    margin-top: 10vh;
    margin-right: 5vh;
    width: 70%;
    height: 50vh;
  }
}

.imgClass {
  width: 100%;
  height: 100%;
}

.pic-div:hover {
  box-shadow: 5px 10px 15px 0 rgba(0, 0, 0, 0.2),
    2px 8px 22px 0 rgba(0, 0, 0, 0.19);
}

#third-picture {
  max-width: 5cm;
  border: 5px solid black;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.about {
  background-color: yellow;
  height: 5cm;
}

.top-img {
  height: 40vh;
  ;
  padding-left: 45%;
  /* padding-top: 9%; */
  /* margin-top: 1cm; */
}

#heading {
  text-align: center;
  color: cadetblue;
}

.Info-container {
  margin: 2vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  height: auto;
}

@media (min-width: 768px) {
  .Info-container {
    justify-content: space-between;
  }
}

.Info:hover {
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.2),
    6px 6px 6px 0 rgba(0, 0, 0, 0.19);
  transform: translateY(-4px);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.Info {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: auto;
  margin-right: auto;
  min-height: 29vh;
  max-width: 47vh;
  width: 100%;
  background-color: white;
  text-align: center;
  padding: 1.5rem 1rem;
  border-radius: 8px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

@media (min-width: 600px) {
  .Info {
    width: calc(50% - 0.75rem);
  }
}

@media (min-width: 1024px) {
  .Info {
    width: 35vh;
  }
}

/* THIS CSS IS FOR HOMEPAGE NAVBAR */


.logo-img {
  height: 37px;
  /* border-right: 3px solid grey; */
}




.nav-ul {
  display: flex;
  list-style-type: none;
  margin-left: 30px;
  padding: 0;
  /* position: absolute; */
  right: 0;
  max-width: 1cm;
  height: 30px;
  border: 3px solid blue;
}

.nav-li {
  border: 3px solid blue;

  margin: 5px;
  height: 40px;
}




.Navbar-img {
  height: 40px;
  /* border-right: 3px solid grey; */
  padding-right: 10px;
  /* padding-left: 5px; */
  /* margin-left: 5px; */
}

#user {
  height: 55px;
  position: absolute;
  right: 0;
  margin-top: 10px;
  margin-right: 15px;
  max-width: auto;
}

#login {
  position: absolute;
  right: 0;
  /* margin-top: 0.8%; */
  margin-right: 0.6%;
  width: 5%;
}

#visitor {
  position: absolute;
  right: 0;
  margin-top: 0.8%;
  margin-right: 5.5%;
  max-width: auto;
}

.look {
  margin-top: 0.5cm;
  width: auto;
}