td,
th {
   width: 200px;
   text-align: left;
   margin: auto;
   font-size: large;
}

.smallColumn {
   width: 5%;
   /* adjust the value to achieve the desired width */
}

.mediumColumn {
   width: 17%;
   /* adjust the value to achieve the desired width */
}