.notifications-container {
  height: 83vh;
  width: 23vw;
  overflow: auto;
  box-shadow: 2px 3px 5px 2px #6F8FAF;
  position: absolute;
  border-radius: 5%;
  right: 1%;
  top: 80%;
}

.hidescroll::-webkit-scrollbar {
  display: none;
}

.hidescroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}