
#container-projects {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #1a1f2e;
  justify-content: center;
  padding:2%;
  width: 100%;
  /* max-height: 20px; */
    box-shadow: 0 8px 6px -6px black;
    max-height:120%
}

#child{
display: inline-flex
}

.icon{
  color: white; 
  font-size: 5rem;
}



#container-projects > div{
  margin-left: 0.5%;
    margin-right: 0.5%;
}

#clearButton{
  margin-left: 100%;
    margin-right: 1%;
}


.label-projects {
  display: block;
  margin-bottom: 10px;
    margin-top: 12px;
    color: white;
  font-size: 20px;
}


.select-projects {
  width: 22em;
  height: 3em;
  padding: 3px;
  border: 1px solid grey;
  border-radius: 4px;
  /* margin-bottom: 3%; */
font-size: 12px;
color: black;

}

.option-projects {
  padding: 8px;
  background-color: #fff;
  color: black;
  font-size: 15px;

}

.select-projects:disabled {
  opacity: 0.5;
}

.select-projects:first-child {
  margin-right: 20px;
} 
